.prizes {
    position: relative;
    min-height: 500px;
    &::before {
        content: "";
        position: absolute;
        padding-bottom: 30%;
        height: 0;
        width: 100%;
        background: url(../../assets/img/prizes-snow.png) no-repeat center;
        background-size: 100%;
        display: block;
        left: 0;
        top: -30%;
        @media screen and (max-width: 1023px) {
            top: -70px;
            padding-bottom: 280px;
            background-size: 1024px;
        }
    }
    &__content {
        &--block {
            &:first-child {
                flex: 35%;
                max-width: 35%;
                @media screen and (max-width:1280px) {
                    flex: 40%;
                    max-width: 40%;
                }
                @media screen and (max-width: 1023px) {
                    max-width: 100%;
                }
                .sum {
                    font-size: 1.8rem;
                    @media screen and (max-width: 1023px) {
                        max-width: calc(100% - 100px);
                        font-size: 1.5rem;
                    }
                    @media screen and (max-width: 550px) {
                        font-size: 1.2rem;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        left: -100px;
                        bottom: -70px;
                        width: 100px;
                        height: 100px;
                        background: url(../../assets/img/prizes-m-1.png) no-repeat center;
                        background-size: contain;
                        @media screen and (max-width: 1023px) {
                            left: -50px;
                            bottom: -150px;
                        }
                        @media screen and (max-width: 550px) {
                            width: 75px;
                            height: 75px;
                            bottom: -70px;
                        }
                        @media screen and (max-width: 365px) {
                            width: 60px;
                        }
                    }
                    img {
                        max-width: 500px;
                        width: 135%;
                        filter: drop-shadow(5px 4px 0px #1565a6);
                        @media screen and (max-width: 650px) {
                            width: 100%;
                            max-width: 100%;
                        }
                    }
                    > * {
                        transform: rotate(-9deg);
                        transform-origin: center;
                    }
                }
                .mand {
                    img {
                        width: 150px;
                    }
                    @media screen and (max-width: 1023px) {
                        align-self: flex-end;
                    }
                }
            }
            &.balls {
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100px;
                    height: 100px;
                    background: url(../../assets/img/prizes-m-2.png) no-repeat center;
                    background-size: contain;
                    z-index: 20;
                    @media screen and (max-width:1023px) {
                        bottom: -100px;
                        margin: auto;
                        left: auto;
                        right: 0;
                        width: 90px;
                        height: 90px;
                    }
                    @media screen and (max-width: 365px) {
                        width: 60px;
                    }
                }
                &::after {
                    left: auto;
                    right: 0;
                    background: url(../../assets/img/prizes-m-3.png) no-repeat center;
                    background-size: contain;
                    top: auto;
                    bottom: 50px;
                    @media screen and (max-width:1023px) {
                        right: auto;
                        left: 0;
                        bottom: -10px;
                    }
                }
                img {
                    max-width: 220px;
                    transform-origin: 50% 0;
                    @media screen and (max-width:1280px) {
                        max-width: 80%;
                    }
                }

                .ball {
                    position: relative;
                    width: 350px;
                    height: fit-content;
                    display: grid;
                    place-items: center;
                    &::after {
                        content: "";
                        width: 100%;
                        position: absolute;
                        height: 40%;
                        bottom: -35px;
                        left: 0;
                        background: url(../../assets/img/ball-snow.png) no-repeat bottom;
                        background-size: contain;
                        @media screen and (max-width:1280px) {
                            height: 60%;
                            bottom: -7%;
                            left: -15%;
                            width: 130%;
                        }
                    }
                    @media screen and (max-width:1280px) {
                        width: 50%;
                    }
                    @media screen and (max-width:500px) {
                        margin-top: -3rem;
                    }
                    @media screen and (max-width:380px) {
                        margin-top: -1.5rem;
                    }
                    @media screen and (max-width:336px) {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
.bounceInDown1 {
    animation: bounceInDown1 0.6s ease-in-out both;
    animation-delay: 0.2s;
}
.bounceInDown2 {
    animation: bounceInDown2 0.6s ease-in-out both;
    animation-delay: 0.5s;
}
.bounceInDown3 {
    animation: bounceInDown3 0.6s ease-in-out both;
    animation-delay: 0.8s;
}
@keyframes bounceInDown1 {
    0% {
        opacity: 0;
        transform: translateY(-2000px);
    }
    50% {
        opacity: 1;
        transform: translateY(30px);
    }
    60% {
        transform: translateY(-10px);
    }
    70% {
        transform: translateY(0);
    }
    100% {
        transform-origin: center center;
        transform: translateY(0) rotate(-14.58deg);
    }
}
@keyframes bounceInDown2 {
    0% {
        opacity: 0;
        transform: translateY(-2000px);
    }
    50% {
        opacity: 1;
        transform: translateY(30px);
    }
    60% {
        transform: translateY(-10px);
    }
    70% {
        transform: translateY(0);
    }
    100% {
        transform-origin: center center;
        transform: translateY(0) rotate(-16.57deg);
    }
}
@keyframes bounceInDown3 {
    0% {
        opacity: 0;
        transform: translateY(-2000px);
    }
    50% {
        opacity: 1;
        transform: translateY(30px);
    }
    60% {
        transform: translateY(-10px);
    }
    70% {
        transform: translateY(0);
    }
    100% {
        transform-origin: center center;
        transform: translateY(0) rotate(18.75deg);
    }
}
